

/* Responsive Code */
     

/* First Break Point 991 */

@media screen and (max-width: 991px) {

    .container{
        padding: 20px 80px;
    }
    

       /***** Home Page Responsive Code  **********

     /* Navigation  */
    
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    .navbar ul {
        position: fixed;
        top: 80px;
        left: -100%;
    
        height: 100vh;
        width: 100%;
        background: white;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    .navbar ul li{
        margin: 40px 0;
    }
  
    .nav-trigger{
        display: block;
    }
  
    .navbar .menu-btn  i{
        display: block;
    }


     /* Servicess slider  */
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }


     /* Team Sliders  */

    .slide-content{
        margin: 0 10px;
      }
      .swiper-navBtn{
        display: none;
      }



      /* Testimpnial  */
    .testimonial  img{
        height: 220px;
    }

    
    /***** Service Page Responsive Code  ***********/

  }




/* 2nd Break Point 767 */

    

  

  @media screen and (max-width: 767px){

       /***** Home Page Responsive Code  **********/


        /* hero section  */
   
    .hero-section .branding .brand-title{
       font-size: 26px;
    }
  
    .hero-section .branding .brand-service-title{
        font-size: 19px;  
    }

    .hero-section .branding .brand-img{
        width: 300px;
        height: 200px;
      }

      /* testimonial section  */

      .testimonial  img{
        height: 180px;
        width: 300px;
    }
    

    /***** Service Page Responsive Code  ***********/


    /* Support Section  */



    /***** About Page Responsive Code  ***********/


    
  
    }
      
  

/* 3rd Break Point 479*/

@media only screen and (max-width: 479px) {



  body{
    overflow-x: hidden;
}

  .container{
      width: 100%;
      padding: 20px 20px;
      margin: 0 auto;
  }

  .primaryBtn{
    margin-top: 20px;
    font-size: 12px;
  }
  
       /***** Home Page Responsive Code  **********/
  

       /* hero section  */
     .hero-section .branding img{
        margin-top: 20px;
        width: 200px;
        margin-right: 20px;
      }
    
  .team-section .title{
    margin-left: 15px;
  }

  
.hero-section .branding .brand-title{
  font-weight: bold;
}

.hero-section .branding{
  display: block;
  justify-content: space-between;
}

.hero-section .branding img{
  margin-left: -8px;
  margin-top: 20px;
  width: 220px;
}

.hero-section .branding .brand-title{
  font-size: 25px;
}

.hero-section .branding .brand-service-title{
  font-size: 20px;
}


/* Servicess section  */
.wrapper .carousel {
  grid-auto-columns: calc((100% / 1) - 9px);
}


 /* about section  */
.about .about-section{
  display: block;
 
}


.about .about-section .read-more  h1{
  margin-top: 40px;
  
}

  /* testimonial section  */

.testimonial{
  display: block;

}

.testimonial  img{
  height: 170px;
  width: 290px;
  margin-left: 10px;
  margin-top: 20px;
}


/* Fotter section  */

.subscibe input{
  padding: 8px 10px;
  width: 250px;

}

.subscibe .right {
  align-items: center;
  color: gray;
  padding: 0 10px;
}
.subscibe .right  label{
  margin-right: 80px;
  font-size: 14px;
}
.subscibe .right  img{
  height: 20px;
}

.subscibe h1{
  font-size: 19px;
}
.subscibe p{
  font-size: 12px;
}






    /***** Service Page Responsive Code  ***********/

    .heading-choose h2{
        font-size: 14px;
        width: 150px;
    }
  
     .heading-choose h1{
        font-size: 19px;
        margin: 15px 15px;
     }
     .heading-choose p{
        font-size: 12px;
        margin: 0 20px;
     }
  
  
     .heading-choose .heading-can{
        font-size: 13px;
        width: 185px;
     }

        /* suport section . */
        .s-card {
          display: block;
          margin-left: 28px;
       }
    
       .s-card .card{
        height: 240px;
        margin-top: 20px;
       }
       .s-card .card img {
        height: 35px;
       }
       .s-card .card h1{
        font-size: 19px;
       }
   .s-card .card p{
    font-size: 12px;
   }

    /* service section  */

    .s-card .card-service {
     height: 300px;
     margin-top: 25px;
   }
    .s-card .card-service img{
      height: 110px;
      margin-left: 50px;
   }

   
 .s-card .card-service h1{
  font-size: 18px;
  margin-top: 15px;
}

 
.s-card .card-service p{
font-size: 12px;
margin-top: -20px;

}

 /* Prising section  */
  
 .prising-sections .prising-cards .p-card{
 height: 590px ;
 }
     .prising-sections .prising-cards{
        display: block;
        width: 400px;
        margin: 15px 30px;
        padding-bottom: 10px;
        margin-top: 30px;
       }

       .prising-sections h2 {
        font-size: 14px;
       }

       .prising-sections .prising-cards .p-card h1 , h3{
       font-size: 19px;
     
       }

       .prising-sections .prising-cards .p-card p{
       font-size: 14px;
        
       }


    /***** About Page Responsive Code  ***********/


    .about-top{
      display: block;
     
  }


  
  .about-top img{
    width: 250px;
    height: 200px;
    margin-left: 30px;
}



.about-top h3{
  margin-top: 30px;
  font-size: 14px;
}

.about-top h1 {
  font-size: 17px;
}


.about-top p{
  font-size: 14px;
}


    /***** Contact Page Responsive Code  ***********/


    .title-section h1{
      font-size: 25px;
    }

    .contact-info{
      display: block;
      width: 285px;
    }

    .contact-info .adress img{
      height: 20px;
    }

    .contact-info .adress .location_icon{
      height: px;
  }
    .contact-info h2{
      font-size: 16px;
    }

    .contact-info p{
      font-size: 12px;
      margin-bottom: 10px;
    }

    .title-info{
      display: block;
    }
  
    .title-info  h3{
      font-size: 18px;
      margin-top: 10px;
    }

    .title-info  img {
      height: 200px;
      margin-left: 40px;
  }

  /* find us section  */


  .find-us h1{
    font-size: 25px;
  }

  
 .find-us img {
  width: 260px;
  height: 160px;
  margin-bottom: 40px;
}

.message-section h1{
  font-size: 25px;
}

.message-section input{
  width: 260px;
}

.message-section button{
  width: 100px;
  height: 30px;
  font-size: 14px;
}

}






 