
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* heading section start  */
.heading-choose{
    text-align: center;
    margin: 25px 0;
}

.heading-choose h2 {
    margin: 0 auto;
    color: white;
    background: #2E73DA;
    padding: 10px 5px;
    width: 150px;
    font-size: 15px;
    border-radius: 7px;
    font-family: sans-serif;
}

.heading-choose h1 {

    color: #0A005C;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 35px;
    margin: 20px 0;
    font-family: sans-serif;
}

.heading-choose p{
    line-height: 0.9;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    font-family: sans-serif;
    color: rgb(83, 80, 80);
}

 /* supprot cart start  */

 .s-card {

   display: flex;
   justify-content: center;

 }

 .s-card .card {
    margin: 10px 30px;
    color: white;
    width: 250px;
    height: 290px;
    text-align: center;
    align-items: center;
    background: #9868FA;
    border-radius: 10px;
    padding: 15px 20px;
    transition: 1s;
 }

 .s-card .card:hover{
   transform: scale(1.1);
   z-index: 2;
 }
 .s-card .card img{
    height: 50px;
    margin-top: 20px;
 }

 .s-card .card h1{
    margin: 15px 0;
    font-family: sans-serif;
 }

 .s-card .card p{
   margin: 15px 0;
   font-family: sans-serif;
   line-height: 1.5;
   font-weight: lighter;
}
 .s-card .card-2{
    background: #5EA2F7;
 }

 
 .s-card .card-3{
    background: #25D487;
    padding: 15px 5px;
 }


  /* what can we do for you part start service  */

  .heading-choose .heading-can{
    width: 250px;
    font-family: sans-serif;

  }

  .s-card .card-service {
    margin: 10px 30px;
    color: black;
    width: 250px;
    height: 410px;
    font-family: sans-serif;
    padding: 15px 20px;
    box-shadow: 0 0px 20px rgb(184, 180, 180);
    border-radius: 10px;
    transition: 1s;
    margin-top: 25px;
 }

 .s-card .card-service:hover{

   transform: scale(1.1);
   z-index: 2;
 }
   .s-card .card-service img{
    height: 150px;
    margin-left: 25px;
    margin-top: 10px;
 }

 .s-card .card-service h1{
   font-family: sans-serif;
    margin: 40px 0;
 }
 
 .s-card .card-service p{
   line-height: 1.5;
   font-family: sans-serif;
   color: rgb(83, 80, 80);
 }


  /* prising sectins start  */

  .prising-sections .prising-cards{
   display: flex;
   justify-content: center;
   margin-left: 90px;
   margin-top: 50px;
  }


  .prising-sections h2 {
   text-align: center;
   margin: 0 auto;
   background: #2E73DA;
   padding: 5px 5px;
   color: white;
   width: 150px;
   font-size: 17px;
   margin-top: 30px;
   border-radius: 5px;
   font-family: sans-serif;

  }



  .prising-sections .prising-cards .p-card{
   margin-right: 100px;
   box-shadow: 0 0 20px gray;
   padding: 40px 20px;
   height:710px;
   margin-bottom: 50px;
   border-radius: 10px;
   color: white;
   font-family: sans-serif;
  }

  .prising-sections .prising-cards .p-card h1 , h3{
   text-align: center;
   margin: 10px 0;
   font-family: sans-serif;

  }
  .prising-sections .prising-cards .p-card p{
   padding: 5px;
   font-family: sans-serif;
   
  }

  .prising-sections .prising-cards .p-card strike{
   color: yellow;
  }
  .prising-sections .prising-cards  .card-1{
   background: #FA5238;
  }

  .prising-sections .prising-cards  .card-2{
   background: #9E0CCF;
  }

  .prising-sections .prising-cards  .card-3{
   background: #FB722E;
  }


  