

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&display=swap');


/* Reset style  */
*{
    margin: 0;
    padding: 0;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
   /* utilites classes  */

   
.primaryBtn{
  color: white;
  background: #2E73DA;
  padding: 8px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.container{
    width: 100%;
    padding: 30px 180px;
    margin: 0 auto;
}

    
    /* Nav Menu Start  */

    

#click{
  display: none;
}

    .navbar .logo img{
      height: 50px;
      width: 200px;
    }
.navbar{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: bold;
    align-items: center;
}

.navbar .menu-btn  i{
    color: #2E73DA;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.navbar ul {
    display: flex;
    text-decoration: none;
    color: gray;
    align-items: center;

}

.navbar ul a{
    text-decoration: none;
}

.navbar ul li{
    margin-right: 20px;
    list-style: none;
}
.navbar ul li a{
  color: #000000;
  font-size: 16px;
  font-weight: lighter;
}

.navbar ul li a:hover,
.navbar ul li a:active{
  color: #2F73DA;
}



.singinBtn{
    background: #2E73DA;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}


    /* hero section start  */
  
.hero-section .branding{
    display: flex;
    justify-content: space-between;
}

.hero-section .branding .brand-title{
    font-weight: bold;
}

.hero-section .branding .brand-title span{
    color: #C70304;
}

.hero-section .branding .brand-service-title{
    font-weight: lighter;    
}

.hero-section .branding .brand-img{
  width: 450px;
  height: 300px;
}

  /* about section start  */

  
  .about .about-section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}


  .about .about-title{
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

.about .rating {
  background: #E7F3F9;
  width: 140px;
  height: 140px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.about .about-section .rating img{
    margin-top: -30px;
}


.about .rating  h1{
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}


.about .about-section .read-more h1{
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: -25px;
}
.about .about-section .read-more h3 {
    margin-top: 20px;
    font-weight: lighter;
    font-size: 19px;
}

   /* Service section Start  */


   .service{
    margin-left: 15px;
  }
  
  .service .service-title{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 28px;
  }
   .wrapper {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 40px;
  }
  
  .wrapper i {
    top: 40%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }

  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }

  .carousel .card h4{
    margin-top: 10px;
    font-weight: lighter;
  }

  .carousel .card a{
    margin-top: 30px;
    color: #2F73DA;
    text-decoration: none;
  }

  

  /* testimonial secion start  */

.testimonial{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.testimonial .headings h1{
    font-family: sans-serif;
    font-weight: lighter;
}
.testimonial .headings h3{
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 40px;
}

.testimonial .headings p{
    font-family: sans-serif;
    color: gray;
    margin-top: 20px;
    margin-bottom: 40px;
}
.testimonial  img{
    height: 300px;
}


 /* foter section start  */

.subscibe{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #494A49;
    background: #E7F3F9;
    padding: 60px 0;
}


.subscibe h1{
    font-family: sans-serif;
}

.subscibe input{
    width: 400px;
    padding: 15px 10px;
    border: none;
    box-shadow: -1px 1px 10px gray ;
    border-radius: 5px;
}


.subscibe .right {
    align-items: center;
    color: gray;
}
.subscibe .right  label{
    margin-right: 180px;
    align-items: center;
}
.subscibe .right  img{
    height: 20px;
    margin-right: 5px;
}



     